@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&family=Mulish:ital,wght@1,300&family=Onest:wght@300&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
        font-family: "Open Sans", sans-serif;
        background-color: cadetblue;
        
      }

.BookList{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Book{
    border-radius: 9px;
    background-color: #fff;
    margin: 13px;
    text-align: center;
}
div{
    width: 100%;

}
div img{
    margin-top: 28px;
    width: fit-content;
}
@media screen and (min-width: 686px){
    .BookList{
        display: column;
        width: 90vw;
    }
    
}